name: armhf_linux_gcc

on: [push, pull_request]

jobs:

  armhf_linux_gcc:
    runs-on: ubuntu-18.04
    env:
      CC: ./armel-linux-musleabihf-cross/bin/armel-linux-musleabihf-gcc
      LDFLAGS: -static
    steps:
    - uses: actions/checkout@v2
    - run: sudo apt-get -y -qq update
    - run: sudo apt install -y qemu-user
    - name: Prepare cross-compiler
      run: |
        curl -O http://musl.cc/armel-linux-musleabihf-cross.tgz
        tar xzf armel-linux-musleabihf-cross.tgz
    - name: Verify tools version
      run: ./armel-linux-musleabihf-cross/bin/armel-linux-musleabihf-gcc --version
    - run: make
    - run: file ./hello
    - run: qemu-arm ./hello
